.image-gallery-image {
    width: 100%!important;
    height: 600px!important;
    object-fit: cover!important;
    max-height: none!important;
}

@media screen and (max-width: 992px) {
    .image-gallery-image {
        height: 500px!important;
    }
}

@media screen and (max-width: 768px) {
    .image-gallery-wrapper .image-gallery-image {
        height: 400px!important;
    }
}

@media screen and (max-width: 500px) {
    .image-gallery-image {
        height: 300px!important;
    }
}